<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <script th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Gaming Platform Starting Page</title>
</head>

<body>
<p class="h1">Gaming platform</p>


<p class="h3">LOGIN </p>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">

    <div class="form-group" for="username"><label> Username : <input id="username" type="text" name="username"/>
    </label></div>
    <div><label for="password"> Password: <input id="password" type="password" name="password"/> </label></div>
    <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>

</form>
<a class="btn btn-primary" role="button" href="register.html" th:href="@{/register}" value="Register">Register</a>


</body>
</html>