<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Casino Platform</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link  th:href="@{/css/landing-page.css}" rel="stylesheet">


  </head>

  <body>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Casino Platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <p th:if="${loginError}" class="error">Wrong user or password</p>

    <form sec:authorize="isAnonymous()" th:action="@{/login}" method="post">

      <div class="form-group" for="username"><label> Username : <input id="username" type="text" name="username"/>
      </label></div>
      <div><label for="password"> Password: <input id="password" type="password" name="password"/> </label></div>
      <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>

    </form>
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Login</h1>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="#" class="btn btn-secondary btn-lg">
                <i class="fa fa-fw"></i>
                <span class="network-name">Login</span>
                <form sec:authorize="isAnonymous()" th:action="@{/login}" method="post">

                <div class="form-group" for="username"><label> Username : <input id="username" type="text" name="username"/>
                </label></div>
                <div><label for="password"> Password: <input id="password" type="password" name="password"/> </label></div>
                <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>

                </form>

              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn btn-secondary btn-lg">
                <i class="fa fa-fw"></i>
                <span class="network-name">Register</span>
              </a>
            </li>


          </ul>
        </div>
      </div>
    </header>

    <!-- Page Content -->
   <!-- <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
            <p class="lead">A special thanks to
              <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>
              for providing the photographs that you see in this template. Visit their website to become a member.</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="img/ipad.png" alt="">
          </div>
        </div>

      </div>
      &lt;!&ndash; /.container &ndash;&gt;
    </section>
-->

      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <script>

      $(document).ready(function(){
    $("button").click(function(e){
		e.preventDefault();

		var name = $("#name").val();
		var email = $("#email").val();
		if(name == "" || name == null){
			$(".nameInput").removeClass("has-success");
			$(".nameInput .glyphicon-ok").remove();
			$(".nameInput").addClass("has-error").append(" <span class='glyphicon glyphicon-remove form-control-feedback' aria-hidden='true'></span>");
			var flag1 = ("false");
		}
		else{
			$(".nameInput").removeClass("has-error");
			$(".nameInput .glyphicon-remove").remove();
			$(".nameInput").addClass("has-success").append(" <span class='glyphicon glyphicon-ok form-control-feedback' aria-hidden='true'></span>");
			var flag1 = ("true");
		};
		if(email == "" || email == null){
			$(".emailInput").removeClass("has-success");
			$(".emailInput .glyphicon-ok").remove();
			$(".emailInput").addClass("has-error").append(" <span class='glyphicon glyphicon-remove form-control-feedback' aria-hidden='true'></span>");
			var flag2 = ("false");
		}
		else{
			$(".emailInput").removeClass("has-error");
			$(".emailInput .glyphicon-remove").remove();
			$(".emailInput").addClass("has-success").append(" <span class='glyphicon glyphicon-ok form-control-feedback' aria-hidden='true'></span>");
			var flag2 = ("true");
		};
		if(flag1 == "true"){
			if(flag2 == "true"){
				location.href = 'http://www.yandex.ru/';
			}
			else{

			};
		}
		else{

		};
	});
});
    </script>


    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/popper/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

  </body>

</html>
