<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Casino Platform - Roulette</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link  th:href="@{/css/landing-page.css}" rel="stylesheet">
    <script th:src="@{/vendor/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/popper/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a th:href="@{/}">
            <img src="img/logo-app2.png" alt="casino platform">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" method="post">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1>Casino Platform</h1>
            <!--<hr class="intro-divider">-->
            <!--<ul class="list-inline intro-social-buttons">-->



<p class="h1">Welcome to the Roulette!</p>
<div class="container" id="betTypeContainer">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Choose the Bet type
            <span class="caret"></span></button>
        <ul id="gameType" class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" id="straightUp" tabindex="-1" href="#">StraightUp</a></li>
            <li role="presentation"><a role="menuitem" id="columnBet" tabindex="-1" href="#">ColumnBet</a></li>
            <li role="presentation"><a role="menuitem" id="dozenBet" tabindex="-1" href="#">DozenBet</a></li>
            <li role="presentation"><a role="menuitem" id="evenOddBet" tabindex="-1" href="#">EvenOddBet</a></li>
            <li role="presentation"><a role="menuitem" id="18sBet" tabindex="-1" href="#">18sBet</a></li>
            <li role="presentation"><a role="menuitem" id="redBlackBet" tabindex="-1" href="#">RedBlackBet</a></li>
        </ul>
    </div>
</div>



<div id="straightContainer" class="container hidden hide">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="straightUpMenu" type="button" data-toggle="dropdown">StraightUp Bet - Choose the Field
            <span class="caret"></span></button>
        <ul class="intro-roulette" id="straightUpId" class="SelectInput dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-3" href="#">0<a/></li>
            <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Red 1<a/></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 2</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 3</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 4</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 5</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 6</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 7</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 8</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 9</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 10</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 11</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 12</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 13</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 14</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 15</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 16</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 17</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 18</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 19</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 20</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 21</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 22</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 23</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 24</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 25</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 26</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 27</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 28</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 29</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 30</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 31</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 32</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 33</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 34</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black 35</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red 36</a></li>
        </ul>
    </div>
</div>


<div id="columnContainer" class="container hidden hide">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="straightUpMenu" type="button" data-toggle="dropdown">ColumnBet - Choose the Column you want to bet on
            <span class="caret"></span></button>
        <ul id="columnId" class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1st column</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2nd column</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3rd column</a></li>
        </ul>
    </div>
</div>
<div id="dozenContainer" class="container hide">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="straightUpMenu" type="button" data-toggle="dropdown">DozenBet - Choose the Dozen you want to bet on
            <span class="caret"></span></button>
        <ul id="dozenId" class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 to 12</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">13 to 24</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25 to 36</a></li>
        </ul>
    </div>
</div>

<div id="evenOddContainer" class="container hide">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="straightUpMenu" type="button" data-toggle="dropdown">Even Odd Bet - Choose Even or Odd Fields
            <span class="caret"></span></button>
        <ul id="evenOddId" class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Even</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Odd</a></li>
        </ul>
    </div>
</div>

<div id="18sBetContainer" class="container hide">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="straightUpMenu" type="button" data-toggle="dropdown">18s Bet - Choose which 18s Fields you want to bet on
            <span class="caret"></span></button>
        <ul id="18sId" class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 to 18</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">19 to 36</a></li>
        </ul>
    </div>
</div>

<div id="redBlackContainer" class="container hide">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="straightUpMenu" type="button" data-toggle="dropdown">Red Black Bet - Choose Red or Black Fields
            <span class="caret"></span></button>
        <ul id="redBlackId" class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Red</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Black</a></li>
        </ul>

    </div>
</div>

<form id="chipsBet" class="hide">
    <div class="form-group has-warning">
        <label for="ChipsBet">Bet</label>
        <input id="chipsBetInput" type="text" class="form-control" placeholder="Chips" required="true">
        <button type="submit" class="btn btn-primary" id="submitDropdownButton">Submit</button>

    </div>
</form>


<div id="gameResult">
</div>


<div id="chipsAmount">
    <h3 th:text="'$' + ${chipsAmount}"></h3>

</div>

<div id="updatedChipsAmount">
</div>

            <!--</ul>-->
        </div>
    </div>
</header>


<script>

var allContainers = [
'#straightContainer', '#18sBetContainer','#dozenContainer','#columnContainer', '#chipsBet', '#redBlackContainer', '#evenOddContainer'
]

var Game = {}

$(document).ready(function(){
console.log('document is ready');
    $("#straightUp").click(function(){
        $("#straightContainer").removeClass('hide');
        Game.gameType = "StraightUp";
    });
    $("#streetBet").click(function(){
        $("#streetContainer").removeClass('hide');
        Game.gameType = "StreetBet";

    });
    $("#columnBet").click(function(){
        $("#columnContainer").removeClass('hide');
                Game.gameType = "ColumnBet";

    });
    $("#dozenBet").click(function(){
        $("#dozenContainer").removeClass('hide');
                Game.gameType = "DozenBet";

    });
    $("#evenOddBet").click(function(){
        $("#evenOddContainer").removeClass('hide');
        	        Game.gameType = "EvenOddBet";

    });
    $("#18sBet").click(function(){
        $("#18sBetContainer").removeClass('hidden');
            Game.gameType = "18sBet";

    });
    $("#redBlackBet").click(function(){
        $("#redBlackContainer").removeClass('hide');
            Game.gameType = "RedBlackBet";

    });

});
var fieldToMap;

$("#straightUpId li a, #columnId li a, #dozenId li a, #evenOddId li a, #18sId li a, #redBlackId li a").click(function(){
fieldToMap = $(this).text();
console.log(fieldToMap);
});


  		$(document).ready(function(){
    		$("#straightContainer, #streetContainer, #columnContainer, #dozenContainer, #evenOddContainer, #18sBetContainer, #redBlackContainer" ).click(function(){
       			 $("#chipsBet").removeClass('hide');
   			 });
		});


  			var map = {
  				'1st column': '1',
  				'2nd column': '2',
  				'3rd column': '3',
  				'1 to 12': '1',
  				'13 to 24': '2',
  				'25 to 36': '3',
  				'Even': '1',
  				'Odd': '2',
  				'1 to 18': '1',
  				'19 to 36': '2',
  				'Red': '1',
  				'Black': '2'
  			};


				$("#submitDropdownButton").click(function(event) {

				event.preventDefault();

				if(fieldToMap === undefined) {
					alert('You have to pick a bet');
					return false;
				}

				if($("#chipsBetInput").val() == "") {
					alert('you have to fill the chips field');
					return false;
				};


				if(Game.gameType == "StraightUp") {
					Game.chosenField = fieldToMap;
				} else {
  				var field = map[fieldToMap];
  				Game.chosenField = field;
  				}


				Game.chips = $("#chipsBetInput").val();

				console.log(Game);
	            $("#gameResult").append(Game.chosenField);

                for(i=0; i< allContainers.length; i++) {
                   $(allContainers[i]).addClass("hide");
                };

					$.ajax({
	            type: 'post',
	            url: '/roulette',
	            data: JSON.stringify(Game),
	            contentType: "application/json; charset=utf-8",
	            traditional: true,
	            success: function (data) {
	                var inputText = "Your result is " + data.score;
	                var chipsUpdated = "Chips updated " + data.chips;
	                var inputField = data.winningField;
	                <!--$("#gameResult").html(inputText + inputField);-->
	                 $("#gameResult").html(chipsUpdated);
	                 $("#updatedChipsAmount").html(chipsUpdated);
	               }
	        	});
			});
		</script>
</body>
</html>